![Illustration of silhouetted heads](mentalhealth.jpg)

Does going to university in a different country affect your mental health? A Japanese international university surveyed its students in 2018 and published a study the following year that was approved by several ethical and regulatory boards.

The study found that international students have a higher risk of mental health difficulties than the general population, and that social connectedness (belonging to a social group) and acculturative stress (stress associated with joining a new culture) are predictive of depression.


Explore the `students` data using PostgreSQL to find out if you would come to a similar conclusion for international students and see if the length of stay is a contributing factor.

Here is a data description of the columns you may find helpful.

| Field Name    | Description                                      |
| ------------- | ------------------------------------------------ |
| `inter_dom`     | Types of students (international or domestic)   |
| `japanese_cate` | Japanese language proficiency                    |
| `english_cate`  | English language proficiency                     |
| `academic`      | Current academic level (undergraduate or graduate) |
| `age`           | Current age of student                           |
| `stay`          | Current length of stay in years                  |
| `todep`         | Total score of depression (PHQ-9 test)           |
| `tosc`          | Total score of social connectedness (SCS test)   |
| `toas`          | Total score of acculturative stress (ASISS test) |

In [2]:
# import packages
import pandas as pd
import sqlite3

In [3]:
# import students data
students = pd.read_csv("students.csv")

In [4]:
students.head()

,inter_dom,region,gender,academic,age,age_cate,stay,stay_cate,japanese,japanese_cate,...,friends_bi,parents_bi,relative_bi,professional_bi,phone_bi,doctor_bi,religion_bi,alone_bi,others_bi,internet_bi
0,Inter,SEA,Male,Grad,24.0,4.0,5.0,Long,3.0,Average,...,Yes,Yes,No,No,No,No,No,No,No,No
1,Inter,SEA,Male,Grad,28.0,5.0,1.0,Short,4.0,High,...,Yes,Yes,No,No,No,No,No,No,No,No
2,Inter,SEA,Male,Grad,25.0,4.0,6.0,Long,4.0,High,...,No,No,No,No,No,No,No,No,No,No
3,Inter,EA,Female,Grad,29.0,5.0,1.0,Short,2.0,Low,...,Yes,Yes,Yes,Yes,No,No,No,No,No,No
4,Inter,EA,Female,Grad,28.0,5.0,1.0,Short,1.0,Low,...,Yes,Yes,No,Yes,No,Yes,Yes,No,No,No

In [5]:
# check columns 
students.columns

Index(['inter_dom', 'region', 'gender', 'academic', 'age', 'age_cate', 'stay',
       'stay_cate', 'japanese', 'japanese_cate', 'english', 'english_cate',
       'intimate', 'religion', 'suicide', 'dep', 'deptype', 'todep', 'depsev',
       'tosc', 'apd', 'ahome', 'aph', 'afear', 'acs', 'aguilt', 'amiscell',
       'toas', 'partner', 'friends', 'parents', 'relative', 'profess',
       ' phone', 'doctor', 'reli', 'alone', 'others', 'internet', 'partner_bi',
       'friends_bi', 'parents_bi', 'relative_bi', 'professional_bi',
       'phone_bi', 'doctor_bi', 'religion_bi', 'alone_bi', 'others_bi',
       'internet_bi'],
      dtype='object')

In [6]:
# check data types
students.dtypes

inter_dom           object
region              object
gender              object
academic            object
age                float64
age_cate           float64
stay               float64
stay_cate           object
japanese           float64
japanese_cate       object
english            float64
english_cate        object
intimate            object
religion            object
suicide             object
dep                 object
deptype             object
todep              float64
depsev              object
tosc               float64
apd                float64
ahome              float64
aph                float64
afear              float64
acs                float64
aguilt             float64
amiscell           float64
toas               float64
partner            float64
friends            float64
parents            float64
relative           float64
profess            float64
 phone             float64
doctor             float64
reli               float64
alone              float64
others             float64
internet           float64
partner_bi          object
friends_bi          object
parents_bi          object
relative_bi         object
professional_bi     object
phone_bi            object
doctor_bi           object
religion_bi         object
alone_bi            object
others_bi           object
internet_bi         object
dtype: object

In [19]:
# connect to sqlite3 database
import sqlite3
conn = sqlite3.connect("data.sqlite")
cursor = conn.cursor()
all_data = pd.read_sql('''SELECT * FROM students''', conn)
all_data.head()

,inter_dom,region,gender,academic,age,age_cate,stay,stay_cate,japanese,japanese_cate,...,friends_bi,parents_bi,relative_bi,professional_bi,phone_bi,doctor_bi,religion_bi,alone_bi,others_bi,internet_bi
0,Inter,SEA,Male,Grad,24,4,5,Long,3,Average,...,Yes,Yes,No,No,No,No,No,No,No,No
1,Inter,SEA,Male,Grad,28,5,1,Short,4,High,...,Yes,Yes,No,No,No,No,No,No,No,No
2,Inter,SEA,Male,Grad,25,4,6,Long,4,High,...,No,No,No,No,No,No,No,No,No,No
3,Inter,EA,Female,Grad,29,5,1,Short,2,Low,...,Yes,Yes,Yes,Yes,No,No,No,No,No,No
4,Inter,EA,Female,Grad,28,5,1,Short,1,Low,...,Yes,Yes,No,Yes,No,Yes,Yes,No,No,No

# check for local or international students

In [20]:

inter_dom = pd.read_sql('''SELECT inter_dom FROM students''', conn)
inter_dom

    inter_dom
0       Inter
1       Inter
2       Inter
3       Inter
4       Inter
..        ...
281
282
283
284
285

[286 rows x 1 columns]

In [17]:
query = """
SELECT stay, 
       COUNT(*) AS count_int,
       ROUND(AVG(todep), 2) AS average_phq, 
       ROUND(AVG(tosc), 2) AS average_scs, 
       ROUND(AVG(toas), 2) AS average_as
FROM students
WHERE inter_dom = 'Inter'
GROUP BY stay
ORDER BY stay DESC;
"""
cursor.execute(query)
results = cursor.fetchall()

for row in results:
    print(row)

ProgrammingError: Cannot operate on a closed database.